/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/* grijs #899CA0 en donkergroen #1C2B32 */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*////////////////////////
    1. Global Styles
////////////////////////*/
body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}


/*////////////////////////
    2. Typography
////////////////////////*/



/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/
header {
    background-image: url("../assets/images/mountains.jpg") ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding-top: 100px;
    height: 1000px;

    h1 {
        text-align: center;
        font-family: "Poppins", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 9em;
        margin-bottom: 7px;
    }
    p {
        text-align: center;
        font-size: 1.4em;
        margin-bottom: 50px;
    }
}

.formfield {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}
.formgroup {
    width: fit-content;
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#submitinput {
    height: 84px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #2d323b;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: -3px;
}
#textinput {
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    padding-right: 60px;
    background-color: transparent;
    margin-right: -2px;
}
/*///////////// 3.2 Testimonial /////////////*/
main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: center;
    font-size: 2em;
    margin: 75px;
}

article {
    box-shadow: 2px 2px 5px 4px #899CA0;
    border-radius: 10px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px  75px 50px 125px;
    margin-top: 90px;

    img {
        position: absolute;
        left: 33%;
    }
}
cite {
    img {
        height: 50px;
        width: 50px;
    }
    span {
        padding: 10px;
    }
}
/*///////////// 3.3 Support /////////////*/
#callcenterimg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    width: 1200px;
}
#supporttext {
    font-size: 19px;
    margin-top: 25px;
    display: block;
}
button {
    background-color: #2d323b;
    color: white;
    border-radius: 50px;
    padding: 25px;
    font-size: 25px;
    margin-top: 30px;
}
/*///////////// 3.4 Faq /////////////*/

details {
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
    p {
        background-color: #899CA0;
        padding: 40px;
        border-radius: 10px;
        color: white;
        cursor: default;
    }
}

/*///////////// 3.5 Footer /////////////*/